body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.area{
    margin: 10px auto;
    box-shadow: 0 10px 100px #ccc;
    padding: 20px;
    box-sizing: border-box;
    max-width: 500px;
}

.area video{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.area textarea{
    width: 100%;
    margin-top: 10px;
    height: 80px;
    box-sizing: border-box;
}

.area button{
    -webkit-appearance: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: #068c84;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    box-shadow: 0 1px 5px #666;
}

.area button:focus{
    outline: none;
    background-color: #0989b0;
}

.area img{
    max-width: 100%;
    height: auto;
}

.area .caminho-imagem{
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #068c84;
    text-align: center;
}

.area .caminho-imagem a{
    color: white;
    text-decoration: none;
}

.area .caminho-imagem a:hover{
    color: yellow;
}

.wrapper{
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper > video{
    background-color: grey;
}
    
#send{
    margin:1rem 1rem 0 1rem;
    background-color: var(--purple);
    border: none;
    color:whitesmoke;
    cursor:pointer;
}
#send:hover{
    background-color: rgb(89, 113, 221);
}

.rectangle{
    border: 3px solid rgb(0, 89, 255);
    border-radius: 5px;
    border-width: 3px;
    width: 16rem;
    height: 11rem;
    position: absolute;
    margin: -13rem 68rem 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1534px) {
    .wrapper{
        height: max-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .rectangle{
        margin: -48rem 19rem 0 0;
    }
}