{% extends "base.html" %} {% block title %}About Page: SLR{% endblock %} {%
block content %}
<header>
	<!-- Navbar : Start -->
	<nav class="navbar navbar-dark navbar-expand-sm">
		<div class="logo">
			<a class="navbar-brand" href="/"><span class="brandname">SignLearn</span></a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Learn
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/learn-digits">Learn Digits</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/learn-alphabets">Learn Alphabets</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/about">About</a>
				</li>
				{% if (session.get("logged_in") != True) %}
				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
				{% endif %}
				{% if (session.get("logged_in") == True) %}
				<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>

<main class="pt-md-4 pb-md-4 p-2">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-12">
				<h2 class="text-center about">About Us</h2>
				<hr />
				<section class="about-us-section text-center bold-txt">
					<p>Who we are:<br /></p>
					<article>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
						molestias eligendi cumque! Lorem ipsum dolor, sit amet consectetur
						adipisicing elit. Soluta mollitia libero animi repellendus aut
						voluptate!<br />
					</article>
					<br />
					<p>At the heart of all we do is our commitment to :</p>
					<article>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br />
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, id
						voluptate.<br />
						Lorem ipsum dolor sit amet consectetur adipisicing.<br />
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore,
						magni eum? Quaerat qui similique saepe esse<br />
						Treating each person as an individual.
					</article>
					<br />
					<hr />
					<article>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
						placeat cupiditate minima quasi illum esse aperiam deserunt saepe
						ex.
					</article>
				</section>
			</div>
		</div>
	</div>
</main>

<footer>
	<div class="container-fluid bottom-footer">
		<div class="row">
			<div class="col-12">
				<p>SignLearn © 2021 - All rights reserved</p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}