{% extends "base.html" %}
{% block title %}Home Page: SignLearn{% endblock %}
{% block content %}
<header>
	<!-- Navbar : Start -->
	<nav class="navbar navbar-dark navbar-expand-sm">
		<div class="logo">
			<a class="navbar-brand" href="/"><span class="brandname">SignLearn</span></a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Learn </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/learn-digits">Learn Digits</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/learn-alphabets">Learn Alphabets</a>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				{% if (session.get("logged_in") != True) %}
				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
				{% endif %}
				{% if (session.get("logged_in") == True) %}
				<li class="nav-item"><a class="nav-link" href="/section">Section</a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>
<!-- Alert for Instructions
<div class="alert alert-info alert-dismissible fade show m-2" role="alert">
	<strong>Instructions:</strong> Please complete registration & login process initially to use the full functionality.
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>  -->

<section>
	<div class="row img-info">
		<div class="col-md-8 ms-md-4 mt-md-3">
			<img class="img-fluid hand-signs" src="{{url_for('static', filename='Images/sketch.jpg')}}" alt="hand gestures">
		</div>
	</div>
	<div class="row info">
		<div class="col-md-6 ms-sm-auto m-2">
			<h2>What is SignLearn ?</h2>
			<p>Sign language is the basic means of communication for those with hearing and vocal disabilities. Those
				disadvantaged have difficulty in their day-to-day lives.
				We aim to develop a system that would ease this difficulty in communication. A Sign Language Recognition
				System using Neural Network algorithm and Image Processing.
				The system will detect hand gestures from images and give textual output and vice versa.
			</p>
		</div>
	</div>
</section>

<footer>
	<div class="container-fluid bottom-footer ">
		<div class="row">
			<div class="col-12">
				<p>SignLearn © 2021 - All rights reserved</p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}