{% extends "base.html" %}
{% block title %}Text to Image Module{% endblock %}
{% block content %}

<!-- Breadcrumbs Section -->
<section class="learning p-2 ps-sm-3">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/section">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Text to Image Conversion</li>
        </ol>
    </nav>
</section>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show m-sm-3 m-2" role="alert">
    <span>{{ message }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" action="">
    <input type="text" class="m-3" name="ip" placeholder="Enter text" maxlength="1" required>
    <button class="btn btn-sm btn-outline-primary" value="submit" type="submit"> Send </button>
</form>
{% if img %}
<center>
    <h1><strong>{{img}}</strong></h1>
</center>
<center><img src="static\{{img}}.jpg" alt="Image" width="400px"></center>
{% endif %}

{% endblock %}